body {
    background-color: #ffffff;
    color: #2e7d8f;
    font-family: 'Anton', sans-serif;
}

a:hover {
    color: #00617a;
}

nav {
    color: #2e7d8f;;
    background-color: #ffffff;
}

li > a {
    font-weight: 500;

}